@model First_MVC_Project.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">Index</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Name</td>
            <td>@Model.Address</td>
            <td>@Model.Salary</td>
        </tr>
    </tbody>
</table>